
	<div class="limiter">
    
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
              
            <button class="pull right">

                <span class="login100-form-title">
                    Hi <h3>{{profiledataaaa.firstname}}</h3>
                  </span>
            

              <a class="dropdown-item" (click)="signOut()" ><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a>
            </button>
            <img src="https://image.shutterstock.com/image-vector/welcome-poster-spectrum-brush-strokes-260nw-1146069941.jpg" alt="IMG">
          </div>
        </div>
      </div>
    </div>