
	<div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
             
            <img src="https://cdn.pixabay.com/photo/2012/04/14/13/47/eight-33992__340.png" alt="IMG">
            <!-- assets/images/img-01.png -->
          </div>
  
          <form [formGroup]="PlayerRegForm">
            <span class="login100-form-title">
              Player Registration
            </span>
            <label for="name">FirstName</label>
            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                
              <input 
              class="input100" 
              type="text" 
              name="firstname" 
              placeholder="Firstname"
              formControlName="firstname">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </div>
            <span class="err-msg err" *ngIf="PlayerRegForm.get('firstname').touched &&  PlayerRegForm.get('firstname').hasError('required')">
                Required Field
            </span>
            <label for="name">MiddleName</label>
            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <input 
                class="input100" 
                type="text" 
                name="middlename" 
                placeholder="Middlename"
                formControlName="middlename">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </span>
              </div>
              <span class="err-msg  err" *ngIf="PlayerRegForm.get('middlename').touched &&  PlayerRegForm.get('middlename').hasError('required')">
                  Required Field
              </span>
              <label for="name">LastName</label>
              <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <input 
                  class="input100" 
                  type="text" 
                  name="Lastname" 
                  placeholder="Lastname"
                  formControlName="lastname">
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                  </span>
                </div>
              <span class="err-msg  err" *ngIf="PlayerRegForm.get('lastname').touched &&  PlayerRegForm.get('lastname').hasError('required')">
                    Required Field
              </span>
              <label for="name">Email</label>
            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <input 
                class="input100" 
                type="text" 
                name="email" 
                placeholder="Email"
                formControlName="email">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
              </div>

              <span class="err-msg  err" *ngIf="PlayerRegForm.get('email').touched &&  PlayerRegForm.get('email').hasError('required')">
                  Required Field
            </span>
            <label for="name">Phonenumber</label>
              <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <input 
                  class="input100" 
                  type="text" 
                  name="Mobilenumber" 
                  placeholder="Mobilenumber"
                  formControlName="phonenumber">
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </span>
                </div>
                <span class="err-msg  err" *ngIf="PlayerRegForm.get('phonenumber').touched &&  PlayerRegForm.get('phonenumber').hasError('required')">
                    Required Field
              </span>


          
              <label for="name">StudentId</label>
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input 
                    class="input100" 
                    type="text" 
                    name="StudentId" 
                    placeholder="StudentId"
                    formControlName="studentid">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </span>
                  </div>
                  <span class="err-msg  err" *ngIf="PlayerRegForm.get('studentid').touched &&  PlayerRegForm.get('studentid').hasError('required')">
                      Required Field
                </span>
                <label for="name">Address</label>
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <textarea 
                  class="input100" 
                  name="StudentId" 
                  placeholder="Address"
                  formControlName="address"></textarea>
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa fa-address-book" aria-hidden="true">
                      
                    </i>
                  </span>
                </div>
                <span class="err-msg  err" *ngIf="PlayerRegForm.get('address').touched &&  PlayerRegForm.get('address').hasError('required')">
                    Required Field
              </span>
              <label for="name">Dateofbirth</label>
                  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                      <input 
                      class="input100" 
                      type="date" 
                      name="Dataofbirth" 
                      placeholder="Dataofbirth"
                      formControlName="dateofbirth">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                      </span>
                    </div>
                    <span class="err-msg  err" *ngIf="PlayerRegForm.get('dateofbirth').touched &&  PlayerRegForm.get('dateofbirth').hasError('required')">
                        Required Field
                  </span>
            <label for="name">Password</label>
            <div class="wrap-input100 validate-input" data-validate = "Password is required">
              <input 
              class="input100" 
              type="password" 
              name="pass" 
              placeholder="Password"
              formControlName="password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>
            <span class="err-msg  err" *ngIf="PlayerRegForm.get('password').touched &&  PlayerRegForm.get('password').hasError('required')">
                Required Field
          </span>
            
            <div class="container-login100-form-btn">
              <button class="login100-form-btn"  [disabled]="disableButton" (click)="addPost(PlayerRegForm.value,PlayerRegForm)">
                Register
              </button>
            </div>
  
            <div class="text-center p-t-136">
              
              <a class="txt2" routerLink="" >
              Login
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>