
	<div class="limiter">

 
            <div class="container-login100">
              <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <span class="login100-form-title">
                        Flemming Pool Game
                      </span>
                  <img src="https://cdn.pixabay.com/photo/2012/04/14/13/47/eight-33992__340.png" alt="IMG">
                 
              
                </div>
        
                <form [formGroup]="loginForm">
                  <span class="login100-form-title">
                    Player Login
                  </span>
                  <label for="name">Email Id</label>
                  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                      
                    <input 
                    class="input100" 
                    type="text" 
                    name="email" 
                    placeholder="email"
                    formControlName="email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                  </div>
                  <span class="err-msg err" *ngIf="loginForm.get('email').touched &&  loginForm.get('email').hasError('required')">
                      Please Enter Valid Email Id
                  </span>
                  <label for="name">Password</label>
                  <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input 
                    class="input100" 
                    type="password" 
                    name="pass" 
                    placeholder="password"
                    formControlName="password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                  </div>
                  <span class="err-msg  err" *ngIf="loginForm.get('password').touched &&  loginForm.get('password').hasError('required')">
                      Required Field
                </span>

                <div class="container-login100-form-btn">
                    <button (click)="valSignInForm(loginForm)" type="submit" class="btn btn-primary btn-block">Sign in</button>
                  </div>
                    <a class="txt2" align='center' routerLink="/register">
                    Create an Account  
                      <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                 
                </form>
              </div>
            </div>
          </div>